/* @group Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

body {
	line-height:1;
}

ol,ul {
	list-style:none;
}

blockquote,q {
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

/* @end */
* {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-appearance:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* Automatically clear elements for standards-compliant browsers */
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

/* Trigger has-layout for IE compatibility */
.clearfix {
	zoom:1;
}

html,body,#hero {
	height:100%;
}

#hero {
  height: 85%;
}

body {
	font-family:'Helvetica-Neue','Helvetica',sans-serif;
	font-family:'AdriaGrotesk-Black',sans-serif;
	background:#fff;
}

img {
	width:100%;
	height:auto;
}

.site-container {
	max-width:1040px;
	margin:0 auto;
	padding-left:30px;
	padding-right:30px;
}

#hero {
  background: url('./images/hero.jpg') repeat scroll center center rgba(0,0,0,0);
  background-size: cover;
  color: #fff;
  position: relative;
}

#hero:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.disclaim {
	margin-top:10px;
	font-size:14px;
	font-family:'helvetica';
	text-align:center;
	color:#a7a7a7;
}

.site-title {
	left:0;
	margin-top:-90px;
	position:absolute;
	right:0;
	top:50%;
  text-align:center;
  z-index: 5;
  opacity: 0.8;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

.header {
	font-size:60px;
	margin-bottom:30px;
	text-transform:uppercase;
}

.subheader {
	font-size:30px;
}

#thumbnails {
	font-size:0;
	text-align:center;
	padding-top:100px;
	padding-bottom:100px;
}

#thumbnails li {
	display:inline-block;
	width:16.666666666667%;
	padding:2px;
	cursor:pointer;
}

.btn {
	background-color:#E67E22;
	border-bottom:3px solid #CF670B;
	border-radius:0;
	color:#FEFEF6;
	display:inline-block;
	font-size:15px;
	line-height:21px;
	padding:18px 30px 15px;
	text-decoration:none;
	text-shadow:0 -1px 0 #D36B21;
	text-transform:uppercase;
	transition:opacity 250ms linear 0;
}

.btn.red {
	background-color:#C0392B;
	border-color:#A01910;
}

.btn.red:hover,.btn:hover {
	color:#FFFFEA;
	opacity:.9;
}

.btn.red:focus {
	background-color:#A01910;
}

.download {
	text-align:center;
}

.site {
	padding-bottom:100px;
}

.fancybox-skin {
	background:none;
}

.fancybox-close,.fancybox-prev span,.fancybox-next span {
	background:none;
	font-family:'icomoon';
	font-size:40px;
	line-height:1;
	text-shadow:0 0 8px #000;
	color:#fff;
}

#fancybox-loading {
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-22px;
	margin-left:-22px;
	background-position:0 -108px;
	opacity:.8;
	cursor:pointer;
	z-index:8060;
	background:none;
	color:#fff;
}

#fancybox-loading div {
	background:none repeat scroll 0 0 rgba(0,0,0,0);
	height:40px;
	width:40px;
}

#fancybox-loading > div:after {
	content:'\e67a';
	font-family:'icomoon';
	font-size:40px;
}

#fancybox-loading div {
	-o-animation:LOADER-ICON 2500ms linear infinite;
	-moz-animation:LOADER-ICON 2500ms linear infinite;
	-webkit-animation:LOADER-ICON 2500ms linear infinite;
	animation:LOADER-ICON 2500ms linear infinite;
}

@-webkit-keyframes LOADER-ICON {
	from {
		-webkit-transform:rotate(0deg);
	}

	to {
		-webkit-transform:rotate(360deg);
	}
}

@-moz-keyframes LOADER-ICON {
	from {
		-moz-transform:rotate(0deg);
	}

	to {
		-moz-transform:rotate(360deg);
	}
}

@-o-keyframes LOADER-ICON {
	from {
		-o-transform:rotate(0deg);
	}

	to {
		-o-transform:rotate(360deg);
	}
}

@keyframes LOADER-ICON {
	from {
		transform:rotate(0deg);
	}

	to {
		transform:rotate(360deg);
	}
}

a.fancybox-nav,a.fancybox-close {
	color:#fff;
	text-decoration:none;
}

.fancybox-overlay {
	background:rgba(0,0,0,0.9);
}

.touch .fancybox-nav span {
	visibility:visible;
}

.fancybox-nav {
	position:fixed;
	width:50%;
}

.touch .fancybox-nav {
	position:absolute;
	opacity:.5;
}

.touch .fancybox-next:before {
	content:'Swipe';
	position:relative;
	left:0;
	top:15px;
	margin-left:-20px;
	font-size:20px;
}

.fancybox-close {
	right:0;
	top:0;
}

a.fancybox-close:after {
	content:'\e6fd';
	font-size:30px;
}

.fancybox-nav span {
	height:auto;
	margin-top:-20px;
	width:auto;
}

.fancybox-prev span {
	left:10px;
}

.fancybox-prev span:after {
	content:'\e726';
}

.fancybox-next span {
	right:10px;
}

.fancybox-next span:after {
	content:'\e722';
}

.fancybox-opened .fancybox-skin,.fancybox-skin {
	border-radius:0!important;
	box-shadow:none;
}

footer {
	padding:10px;
	font-size:12px;
	color:#cfcfcf;
	text-align:center;
}

@media only screen and (max-width: 767px) {
	#thumbnails li {
		width:25%;
	}

	.site-container {
		padding-left:10px;
		padding-right:10px;
	}

	.header {
		font-size:44px;
	}

	.subheader {
		font-size:22px;
	}
}

@media only screen and (max-width: 599px) {
	.header {
		font-size:40px;
	}

	.fancybox-skin {
		padding:5px!important;
	}

	.fancybox-close {
		opacity:.5;
	}

	.subheader {
		font-size:20px;
	}

	#thumbnails li {
		width:33.333333333%;
	}

	.touch .fancybox-nav {
		height:50px;
		top:100%;
	}

	.fancybox-prev span,.fancybox-next span {
		font-size:30px;
		margin-top:-15px;
	}

	.fancybox-prev span {
		left:0;
	}

	.fancybox-next span {
		right:0;
	}
}

.gallery-items {
  column-count: 4;
  column-gap: 1rem;
  padding: 1rem;
}

.gallery-thumb {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1rem;
  width: 100%;
  line-height: 1;
}

.gallery-thumb a {
  display: block;
  line-height: 0;
}

@media only screen and (max-width: 599px) {
  .gallery-thumb {
    margin: 0 0 .5rem;
  }

  .gallery-items {
    column-count: 2;
    column-gap: .5rem;
    padding: .5rem;
  }
}

.download {
  font-size: 2rem;
  margin-top: 3rem;
  & a {
    color: #000;
    &:hover {
      color: rebeccapurple;
    }
  }
}
